{% extends 'base.html' %}

{% block content %}
Welcome <b>{{ request.user }}</b> <br>
<h1>Calculator</h1>


  <form class="form-inline" action="" method="get">
    <div class="numbers">
      <input type="number" step="any" class="form-control" name="number1" placeholder="number">

          <select name="choice">
              <option value="+"> + </option>
              <option value="-"> - </option>
              <option value="*"> * </option>
              <option value="/"> / </option>
          </select>

      <input type="number" step="any" class="form-control" name="number2" placeholder="number">

      <input class="btn btn-default" type="submit" value="Calculate">
    </div>
  </form>


  <h3>Answer: {{ number1 }} {{ choice }} {{ number2 }} = {{ math_eq }}</h3>

{% endblock %}
