{% extends 'base.html' %}

{% block content %}
{% if not request.user.is_authenticated %}
  <h2><a href="{% url 'login' %}">Login To Use Calculator</a></h2>
{% else %}
  <h1>Calculator</h1>
  <div class="row">
      <form class="" action="" method="post">
        <div class="col-md-2">
          <div class="panel panel-default">
            <div class="panel-heading">
                Enter an Equation
            </div>
            <input type="text" name="num1" placeholder="number 1">

            <select class="" name="operator">
                <option value="+"> + </option>
                <option value="-"> - </option>
                <option value="*"> * </option>
                <option value="/"> / </option>
            </select>

              <input type="text" name="num2" placeholder="number 2">
              <input type="submit" class="submit" value="Calculate">
              {% csrf_token %}
          </div>
        </div>
    </form>
    </div>
    <br>
    <hr>
    <br>
    <div class="row">
      <div class="col-md-2">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Answer:</h4>
          </div>
          <div class="panel-body">
            {{ operation.last.answer }}
          </div>
        </div>
      </div>
  </div>

{% endif %}

{% endblock %}
