{% extends 'base.html' %}

{% block content %}
  <a href="{% url 'profile_update_view' object.id %}">Update</a>
  <h1>Hello {{ request.user }}</h1>

  <h3>Access Level: <b>{{ profile.access_level }}</b></h3> <br>
  <div class="">
    {% for equ in operation %}
      {% if request.user == equ.user or request.user.profile.is_owner %}
          <b>{{ equ.num1 }} {{ equ.operator }} {{ equ.num2 }} = {{ equ.answer }}</b> <br>
          Created on: {{ equ.created}} <br>
           By: {{ equ.user }}<br> <hr>
      {% endif %}
    {% endfor %}
  </div>

{% endblock %}
